.h1 {
   text-align: center;
  
}

.text {
    /*Box sizing*/
    height: 1.2em;
    padding: 8px; 
    display: block; 
    resize: none; 
    line-height: 1.5; 
    width: 593px;

    /*Box Scrolling*/
    overflow-y: auto;

    /*Box positioning*/ 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 500px;

    /*Input Button*/ 


}

.camera {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    height: 100px;
    border-style: none;
}

.verified {
    /*Positioning*/
    position: absolute; 
    right: 80%;
    top: 150px;
    display: inline-block;
}

.verified .button1 {
    /*Button Design*/ 
    background-color: cyan; 
    border: none; 
}

.verified a {
    display: block;
    color: black;
    text-decoration: none; 
    padding: 10px 15px; 
}

.verified .content {
    position: absolute; 
    background-color: hsl(0,0%,95%); 
    min-width: 50px;
    display: none; 
}

.verified:hover .content {
    display:block; 
}

.verified:hover .button1 {
    background-color: blueviolet;
}

.verified a:hover {
    background-color: blue; 
}
.unverified {
    position: absolute; 
    left: 80%;
    top: 150px;
    display: inline-block; 
}

.unverified .button2 {
    background-color: cyan; 
    border: none; 
}

.unverified a {
    display: block;
    color: black;
    text-decoration: none; 
    padding: 10px 15px; 
}

.unverified .content2 {
    position: absolute; 
    background-color: hsl(0,0%,95%); 
    min-width: 50px;
    display: none; 
}

.unverified:hover .content2 {
    display: block; 
}

.unverified:hover .button2 {
    background-color: blueviolet;
}

.unverified a:hover {
    background-color: blue;
}

